<!-- Modal -->
<div
  class="modal fade"
  id="orderAddModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ürün satın al</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="content">
          <div class="col-md-12">
            <form [formGroup]="orderAddForm">
              <div class="mb-3">
                <label for="categoryId">Kategori</label>
                <div class="form-group">
                  <select
                    class="form-select"
                    formControlName="categoryId"
                    aria-label="Default select example"
                  >
                    <option
                      *ngFor="let category of categories"
                      [value]= "category.id"
                    >
                      {{ category.name }}
                    </option>
                  </select>
                </div>
                </div>
              <div class="mb-3">
                <label for="categoryId">Kg</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="quantity"
                    formControlName="quantity"
                    class="form-control"
                    placeholder="100 Kg"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label>Fiyat</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="unitPrice"
                    formControlName="unitPrice"
                    class="form-control"
                    placeholder="₺100"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Vazgeç
          </button>
          <button class="btn btn-primary"  data-bs-dismiss="modal" (click)="add()">Satın Al</button>
        </div>
      </div>
    </div>
  </div>
</div>






