<!-- Modal -->
<div
  class="modal fade"
  id="moneyAddModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Para Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="content">
          <div class="col-md-12">
            <form [formGroup]="moneyAddForm">
              <div class="mb-3">
                <label>Miktar</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="amount"
                    formControlName="amount"
                    class="form-control"
                    placeholder="₺10"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label>Para Birimi</label>
                <div class="form-group">
                  <select
                    class="form-select"
                    formControlName="currencyId"
                    aria-label="Default select example"
                  >
                    <option
                      *ngFor="let currency of currencies"
                      [value]="currency.id"
                    >
                      {{ currency.currencyType }}
                    </option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Vazgeç
          </button>
          <button
            class="btn btn-primary"
            (click)="add()"
            data-bs-dismiss="modal"
          >
            Ekle
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
